body {
    font-family: 'Tajawal', sans-serif;
}

button{
    margin-right: 1em;
    background-color: black;
    padding: .5em .5em;
    border-radius: .5em;
    color: white;
    font-size: 1em;
    margin-bottom: 2em;
}