
 <h2>Edit {{user.username}}</h2>
<form id="edit-user-form" class="divstyle">
 
    <b>First Name: </b><input id="edit-user-first-name" placeholder="{{user.firstname}}" [(ngModel)]="user.firstname" name="firstname">  
    <br>
    <b>Last Name: </b><input id="edit-user-last-name" placeholder="{{user.lastname}}" [(ngModel)]="user.lastname" name="lastname">
    <br>
    <b>Email: </b> <input id="edit-user-email" placeholder="{{user.email}}" [(ngModel)]="user.email" name="email">
    <br>
    <b>Fav Notices: </b> <input id="edit-user-favnotices" placeholder="{{user.fav_notices}}" [(ngModel)]="user.fav_notices" name="fav_notices">
    <br>
    <button id="edit-user-submit" (click)="save()" type="button">Save</button>
    <button (click)="remove()" type="button"> Delete</button>
</form>

<app-noticelist></app-noticelist>