

<form id="edit-user-form">
  <h2>Edit {{user.username}}</h2>


    <b>First Name: </b><input id="edit-user-first-name" placeholder="{{user.firstname}}" [(ngModel)]="user.firstname" name="firstname">  
    <br>
    <b>Last Name: </b><input id="edit-user-last-name" placeholder="{{user.lastname}}" [(ngModel)]="user.lastname" name="lastname">
    <br>
    <b>Email: </b> <input id="edit-user-email" placeholder="{{user.email}}" [(ngModel)]="user.email" name="email">
    <br>
    <button id="edit-user-submit" (click)="save()" type="button">Save</button>
    <button (click)="remove()" type="button"> Delete</button>
    
</form>
