<h2>Notices Bookmarked by Users </h2>
<div  *ngFor="let fav of favs">
    <div id={{fav.id}} data-user-display class="divstyle">

      <b>Notice# </b> <span>{{fav.noticeid}}</span>
      <br>
      <b>Favorited By User: </b> <span style="color:black" [routerLink]="['/users', fav.favby]"> {{fav.favby}}</span>
      <br>
      <button type="submit"><a [routerLink]="['/favsort', fav.noticeid]">Sort By This ID</a></button>
      <app-fav [notice_id]='fav.noticeid'></app-fav>
    </div>
</div>
  
    