
body {
    font-family: 'Tajawal', sans-serif;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: black;
  
}

.divstyle {
        background: lightgoldenrodyellow;
        color: gray;
        padding: 1.5em;
        border-radius: .5em;
        width: 70%;
        margin: 1em auto;
        letter-spacing: .1em;
        padding-left: 3em;
}
input {
    width: 50%;
}
button{
    margin-right: 1em;
    background-color: darkgray;
    padding: .5em .5em;
    border-radius: .5em;
    color: white;
    font-size: 1em;
    margin-bottom: .75em;
    border: none;
}

b{
    text-transform: uppercase;
}
h1{
    /* margin-top: 0em; */
    /* width: 100%; */
    font-weight: 800;
    text-transform: uppercase;
    color: darkolivegreen;

}

#title{
    /* background-color: gray; */
    font-family: 'Anton', sans-serif;
    letter-spacing: .1em;
    border-bottom: .5em solid gray;
    margin-bottom: 2em;
}

.hidden{
    display: none;
}

.reveal{
    display: block;
}

h2{
   text-align: center;
   font-family: 'Anton', sans-serif;
   color: gray;
}

textarea{
    width: 90%;
    height: 7em;
}